/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

body{
  margin: 0 auto;
  font-family:proxima-nova;
  background-color: #fafaf7;
  min-height: 100%;
}

h2{
  font-family: ErnestineWebW03-Bold,sans-serif;
  font-size: 1em;
}

h1{
  font-family: verner;
  font-size: 1.8em;
  color: white;
}

p{
  font-family: open sans, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: #4d3928;
}

a{
  text-decoration: none; /*bij alle links de decoratie weghalen*/
}

header { /*de hele header*/
  background:url(https://www.efteling.com/nl/-/media/images/nieuw-park/park/seizoenen/lente/1600x600-kinderen-bij-fontein.jpg?h=450&w=1600&focuspoint=-0.6%2c-0.07&hash=D4BCC38617B0BF52873E03A3974E5138); /**/
  background-size: cover; /*over de hele pagina*/
  background-position: center top;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header section { /*text in de header*/
  max-width: 100%;
  margin: 0 auto;
  padding: 20% 0 26%;
  background-color: rgba(0, 0, 0, .3);;
}

header section h1 {
  text-align: center;
  line-height: 1.5em;
  text-transform: capitalize;
  padding-bottom: 20px;
  margin-bottom: 20px;

}

header section a{
  font-family: ErnestineWebW03-Bold,sans-serif;
  background-color: rgba(255,255,255,0);
  border: 2px solid #fff;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
  max-width: 70%;
  margin-top: -40px;
  margin-left: 25%;
}

nav{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #fff;
  overflow: hidden;
}

nav ul {
  list-style-type: none; /*lijst stijl weghalen*/
  margin: 0 auto;
  background-color: #fff;
  margin-top: -5px;
}

nav ul li {
  display: inline; /* alle linkjes naast elkaar*/
  float: left; /*linkerkant van de navbar*/
}

nav ul li a {
  text-align: center; /*text in midden van buttons*/
  text-decoration: none;
  display: block; /*dikker*/
  padding: 15px 10px;
}

nav ul li a img{
  height: 30px;
  width: auto;
}

.scroll-to-top{
  position: absolute;
}

.scroll-to-top a{
  position: fixed;
  bottom: 2%;
  right: 5%;
  width: 10%;
  height: auto;
  font-family: ErnestineWebW03-Bold,sans-serif;
  color: #fff;
  padding: 8px 25px 8px 14px;;
  border-radius: 100%;
  font-size: 16px;
  line-height: 1.5;
  max-width: 70%;
  margin-top: -40px;
  background-color: #b71234;;
  border: 1px solid #b71234;

}

.logo{
  float: left;
  height: 40px;
  width: auto;
  margin-right: 30px;
}

.buttons-on-header{
  max-width: 90%;
  margin-top: -40px;
  margin-left: 5%;
}

.reserveren{
  font-size: 1em;
  font-family: ErnestineWebW03-Bold,sans-serif;
  text-align: center;
  display: block;
  background-color: #fff;
  border-bottom-width: 0;
  border-color: #ede5d5;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-width: 1px;
  color: #b71234;
  padding: 15px 30px;

}

.slapen{
  font-family: ErnestineWebW03-Bold,sans-serif;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1em;
  text-align: center;
  display: block;
  background-color: #fff;
  border-color: #ede5d5;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  color: #b71234;
  padding: 15px 30px;

}

.openingstijd{
  border:solid 1px #ede5d5;
  border-radius: 5px;
  max-width: 90%;
  padding: 5px 0 15px 20px;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #fff
}

.openingstijd h2{
  color: #4d3928;
  margin-bottom: -1px;
}

.openingstijd a{
  text-decoration: underline;
  font-family: open sans, sans-serif;
  font-size: 1em;
  color: #4d3928;
  padding-top: 10px;
}

.wrapper{
}

.allerkleinste, .familie, .waaghalzen{
  max-width: 90%;
  border:solid 1px #ede5d5;
  border-radius: 5px;
  padding: 5px 0 15px 20px;
  background-color: #fff;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
}

.allerkleinste, .familie, .waaghalzen section h2{
  color: #b71234;
  margin-bottom: -12px;
}

.allerkleinste-tekst, .familie-tekst, .waaghalzen-tekst{
  margin-right: 25px;
}

.img-allerkleinste img, .img-familie img, .img-waaghalzen img, .max-en-moritz img{
  max-width: 150%;
  height: auto;
  padding-right: 10%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: -5%;
  /*margin-left: 10%;
  /*margin-bottom: -12%;
  /*margin-top: 10%;*/
}

.allerkleinste-button, .familie-button, .waaghalzen-button{
  border-radius: 5px;
  margin-top: 15%;
  margin-bottom: 4%;
}

.allerkleinste-button a, .familie-button a, .waaghalzen-button a, .max-en-moritz a{
  font-family: ErnestineWebW03-Bold,sans-serif;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ede5d5;
  color: #b71234;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 8px;
  padding-top: 10px;
  padding: 10px 15px 8px 15px;
}

.alle-attracties{
  margin: 15% 0 15% 22%;
}

.alle-attracties a, .plattegrond a{
  font-family: ErnestineWebW03-Bold,sans-serif;
  background-color: #b71234;;
  border-radius: 5px;
  border: 1px solid #b71234;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 8px;
  padding: 10px 15px 8px 15px;
}

.plattegrond{
  position: relative;
  text-align: center;
  background: url(https://i0.wp.com/eftelingsestraat.nl/wp-content/uploads/2018/04/efteling-plattegrond-header.jpg?fit=1025%2C587&ssl=1);
  background-size: cover;
  background-color: rgba(0, 0, 0, .3);
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*.plattegrond img{
  background-color: rgba(0, 0, 0, .3);
  height: auto;
  width: 100%;
}*/

.plattegrond h1{
  padding: 20% 0 20% 0;
  line-height: 1.5em;
  text-align: center;
}

.plattegrond {
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),
    url(https://i0.wp.com/eftelingsestraat.nl/wp-content/uploads/2018/04/efteling-plattegrond-header.jpg?fit=1025%2C587&ssl=1);
  background-size: cover;
  height: 70vh;
  margin-bottom: 20%;
}

.plattegrond div {
  position: absolute;
  left: 10%;
  right: 10%;
  top:5%;
  color: white;
  text-align: center;
}

.max-en-moritz{
  margin-bottom: 20%;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 5px 0 15px 8px;
  max-width: 95%;
  display: block;
}

.max-en-moritz hr{
  background-color: #b71234;
  width: 100px;
  margin-top: 15px;
  display: inline-block;
  border-top-width: 2px;
  position: relative;
  border: 2px solid #ede5d5;
  border-bottom-width: 0;
  height: 0;
}

.max-en-moritz h2{
  font-size: 20px;
  color: #b71234;
  margin-bottom: -0px;
}

.max-en-moritz a{
  margin-top: 10%;
}

.max-en-moritz p{
  padding-right: 5%;
  margin-bottom: 8%;
}

.max-en-moritz img{
  max-width: 100%;
  width: 440px;
  height: auto;
  margin-left: 0;
}
