/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

html{
  scroll-behavior: smooth;
}

/* -------------------------------------------------------------------------------- */
/* ALGEMENE CODE */


/* CSS variabelen */
:root {
  --donkerrood: #B71234;
  --bruin: #4d3928;
  --wit: #fff;
  --lichtgrijs: #737373;
  --accentkleurrood: #9b0f2c;
  --accentkleurwit: #ede5d5;
  --donkerwitachtergrond: #fafaf7;
}

/* algemene styling */
body{
  margin: 0 auto;
  padding: 0;
  font-family:proxima-nova;
  background-color: var(--donkerwitachtergrond);
  min-height: 100%;
}

h2{
  font-family: ErnestineWebW03-Bold,sans-serif;
  font-size: 1em;
}

h1{
  font-family: verner;
  font-size: 1.8em;
  color: var(--wit);
}

p{
  font-family: open sans, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: var(--bruin);
}

a{
  text-decoration: none;
  transition: .2s;
}

/* HEADER*/
header {
  background: url(https://www.efteling.com/nl/-/media/images/nieuw-park/park/seizoenen/lente/1600x600-kinderen-bij-fontein.jpg?h=450&w=1600&focuspoint=-0.6%2c-0.07&hash=D4BCC38617B0BF52873E03A3974E5138);
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

/* header tekst in afbeelding */
header section {
  max-width: 100%;
  margin: 0 auto;
  padding: 20% 0 26%;
  background-color: rgba(0, 0, 0, .3);;
}

/* h1 tekst in afbeelding */
header section h1 {
  text-align: center;
  line-height: 1.5em;
  text-transform: capitalize;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* bekijk attracties in afbeelding */
header section a{
  font-family: ErnestineWebW03-Bold,sans-serif;
  background-color: rgba(255,255,255,0);
  border: 2px solid var(--wit);
  color: var(--wit);
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
  max-width: 70%;
  margin-top: -40px;
  margin-left: 25%;
  transition: .2s;
}

header section a:hover{
  background-color: var(--accentkleurrood);
  transform: scale(1.05);

}

/* NAV TOP */
nav:nth-of-type(1){
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: var(--wit);
  overflow: hidden;
  border-bottom: 1px solid var(--accentkleurwit);

}

nav:nth-of-type(1) ul {
  list-style-type: none;
  margin: 0 auto;
  background-color: var(--wit);
  margin-top: -5px;
  z-index: 2;
  display: flex;
}

nav:nth-of-type(1) ul li{
  flex-direction: row;
}

nav:nth-of-type(1) ul li:nth-of-type(1) {
  margin-left: -10%;
}

nav:nth-of-type(1) ul li a {
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 15px 10px;
}

nav:nth-of-type(1) ul li a img{
  height: 30px;
  width: auto;
}


/* svg vergrootglas en winkelmandje */
nav:nth-of-type(1) ul li:nth-of-type(3) a svg, nav:nth-of-type(1) ul li:nth-of-type(2) a svg{
  height: 20px;
  width: auto;
  stroke:var(--bruin);
  stroke-width:20;
  stroke-miterlimit:10;
}

nav:nth-of-type(1) ul li:nth-of-type(3), nav:nth-of-type(1) ul li:nth-of-type(2){
  margin-top: 1.2%;
}

/*SVG HAMBURGER ANIM */
/* navigatie*/
nav:nth-of-type(1) ul li:nth-of-type(4){
  font-family: open sans, sans-serif;
  font-size: 16px;
  color: var(--bruin);
  font-weight: bold;
  margin-top: 5px;
  margin-left: 20px;
}

nav:nth-of-type(1) ul li:nth-of-type(4) a{
  font-family: open sans, sans-serif;
  color: var(--bruin);
}

/* algemeen svg*/
#hamburger_icon{
  position: absolute;
  width: 150px;
  top: 5px;
  margin-left: 5px;
  margin-top: 3px;
  fill: none;
  stroke: var(--bruin);
  stroke-width: 8;
  stroke-miterlimit:10;
}

/* transitie paths */
#hamburger_icon path:nth-of-type(1), #hamburger_icon path:nth-of-type(2), #hamburger_icon path:nth-of-type(3){
  transition: .4s;
}

/* rotate van bovenste path */
#hamburger_icon path:nth-of-type(1).rotate{
  transition: .4s;
  transform-box: fill-box;
  transform: rotate(45deg);
}

/* rotate van middelste path */
#hamburger_icon path:nth-of-type(2).rotate{
  transition: .4s;
  transform-box: fill-box;
  display: none;
}

/* rotate van onderste path */
#hamburger_icon path:nth-of-type(3).rotate{
  transition: .4s;
  transform-box: fill-box;
  transform: rotate(-45deg);
}

/*ZIJ NAV - UITKLAP */
nav:nth-of-type(2) {
  list-style-type: none;
  margin: 0 auto;
  margin-top: -5px;
  width: 100%;
  height: 100%;
  right: -47em;
  position: fixed;
  z-index: 999;
  top: 55px;
  background-color: var(--wit);
  max-height: calc(100% - 50px); /*de navbar is 50 px*/
  overflow-y: auto;
  transition: 0.5s;
  text-align:center;
  padding-left: 0;
}

nav:nth-of-type(2).expanded {
  right: 0;
}

nav:nth-of-type(2) ul{
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  border-top: 1px solid var(--accentkleurwit);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  text-align: left;
}

nav:nth-of-type(2) ul li,
footer article ul li{
  position: relative;
  line-height: 48px;
  display: block;
  border-bottom: 1px solid var(--accentkleurwit);
}

nav:nth-of-type(2) ul li a, nav:nth-of-type(2) ul li span,
footer article ul li a, footer article ul li span{
  padding: 8px 0 8px 20px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 600;
  color: var(--bruin);
  transition: 0.3s;
  font-family: open sans, sans-serif;
}

nav:nth-of-type(2) ul li a:hover,
footer article ul li a:hover{
  color: var(--donkerwitachtergrond);
}

nav:nth-of-type(2) h2 {
  display: block;
  font-size: 1.2em;
  color: var(--bruin);
  left: 0;
  margin-top: 10%;
}

.span_reserveren{
  padding: 20px;
  background-color: var(--donkerwitachtergrond);
  border-bottom: 1px solid var(--accentkleurwit);
}


nav:nth-of-type(2) ul:nth-of-type(1){
  text-align: center;
}

nav:nth-of-type(2) ul:nth-of-type(2) ul li,
footer article ul:nth-of-type(2) ul li{
  background-color: #fafaf7;
  border-bottom: 0;
  text-align: left;
  padding-left: 5%;
  font-weight: 300;
}

nav:nth-of-type(2) ul:nth-of-type(1) li a,
footer article ul:nth-of-type(1) li a{
  padding-left: 0;
}

nav:nth-of-type(2) ul:nth-of-type(2) li svg {
  height: 12px;
  width: auto;
  margin-top: 5%;
  border-radius: 3px;
  padding: 0px 15px;
  float: right;
}

nav:nth-of-type(2) ul:nth-of-type(2) ul{
  display: none;
}

/* nav ul:nth-of-type(2) li a:nth-of-type(1) {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

header nav:nth-of-type(1) ul li:nth-child(1){
  float: left;
  margin-left: 8%;
  height: 40px;
  width: auto;
  margin-right: 30px;
}

/* -------------------------------------------------------------------------------- */
/* INDEX.HTML */

/* BUTTONS OP HEADER */
/* algemeen */
.index-main article:nth-of-type(1){
  max-width: 90%;
  margin-top: -40px;
  margin-left: 5%;
}

/* reserveren en tickets kopen*/
.index-main article:nth-of-type(1) a:nth-of-type(1){
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-width: 0;
}

/* blijf slapen */
.index-main article:nth-of-type(1) a:nth-of-type(2){
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* beide buttons */
.index-main article:nth-of-type(1) a:nth-of-type(1),
.index-main article:nth-of-type(1) a:nth-of-type(2) {
  font-size: 1em;
  font-family: ErnestineWebW03-Bold,sans-serif;
  text-align: center;
  display: block;
  background-color: var(--wit);
  border-color: var(--accentkleurwit);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  color: var(--donkerrood);
  padding: 15px 30px;
}

/* OPENINGSTIJD */
/* algemeen */
.index-main section:nth-of-type(1){
  border:solid 1px var(--accentkleurwit);
  border-radius: 5px;
  max-width: 90%;
  padding: 5px 0 15px 20px;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: var(--wit);
}

/* h2 */
.index-main section:nth-of-type(1) h2{
  color: var(--bruin);
  margin-bottom: -1px;
}

/* a */
.index-main section:nth-of-type(1) a{
  text-decoration: underline;
  font-family: open sans, sans-serif;
  font-size: 1em;
  color: var(--bruin);
  padding-top: 10px;
}

/* ALLERKLEINSTEN, FAMILIE, WAAGHALZEN */
/* algemeen */
.index-main section:nth-of-type(2), .index-main section:nth-of-type(3), .index-main section:nth-of-type(4){
  max-width: 90%;
  border:solid 1px var(--accentkleurwit);
  border-radius: 5px;
  padding: 5px 0 15px 20px;
  background-color: var(--wit);
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
}

/* h2 */
.index-main section:nth-of-type(2) div h2, .index-main section:nth-of-type(3) div h2, .index-main section:nth-of-type(4) div h2{
  color: var(--donkerrood);
  margin-bottom: -12px;
}

/* div */
.index-main section:nth-of-type(2) div, .index-main section:nth-of-type(3) div, .index-main section:nth-of-type(4) div{
  margin-right: 25px;
}

/* image */
.index-main section:nth-of-type(2) img, .index-main section:nth-of-type(3) img, .index-main section:nth-of-type(4) img{
  max-width: 150%;
  height: auto;
  padding-right: 10%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: -5%;
}

/* buttons */
.index-main section:nth-of-type(2) a, .index-main section:nth-of-type(3) a, .index-main section:nth-of-type(4) a{
  border-radius: 5px;
  margin-top: 15%;
  margin-bottom: 4%;
  font-family: ErnestineWebW03-Bold,sans-serif;
  background-color: var(--wit);
  border-radius: 5px;
  border: 1px solid var(--accentkleurwit);
  color: var(--donkerrood);
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 8px;
  padding-top: 10px;
  padding: 10px 15px 8px 15px;
}

/* alle attracties button */
#b_attracties{
  margin: 15% 0 15% 15%;
}

/* OPMAAK BUTTONS ROOD (call-to-action) */
#b_attracties a, .index-main section:nth-of-type(5) a, .index-main section:nth-of-type(6) a, .attracties-main button, nav:nth-of-type(2) ul:nth-of-type(1) li a span, .max-en-moritz a{
  color: var(--wit)!important;
  position: relative;
  background-color: var(--donkerrood);
  border-radius: 5px;
  color: var(--donkerrood);
  font-family: ErnestineWeb-Bold,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 14px 40px 12px 40px;
  z-index: 1;
}

/* rode lijn in rode button (before state) */
.alle-attracties a::before, .index-main section:nth-of-type(6) a::before, .attracties-main button::before, nav:nth-of-type(2) ul:nth-of-type(1) li a span::before{
  font-family: ErnestineWeb-Bold,sans-serif!important;
  border-color: var(--accentkleurrood);
  border-radius: 5px;
  border: 2px solid var(--accentkleurrood);
  content: '';
  display: block;
  left: 3px;   bottom: 3px;   top: 3px;  right: 3px;
  position: absolute;
}

/* MAX EN MORITZ */
.index-main section:nth-of-type(5){
  margin-bottom: 20%;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 5px 0 15px 8px;
  max-width: 95%;
  display: block;
}

.index-main section:nth-of-type(5) hr{
  background-color: var(--donkerrood);
  width: 100px;
  margin-top: 15px;
  display: inline-block;
  border-top-width: 2px;
  position: relative;
  border: 2px solid var(--accentkleurwit);
  border-bottom-width: 0;
  height: 0;
}

.index-main section:nth-of-type(5) h2{
  font-size: 20px;
  color: var(--donkerrood);
  margin-bottom: -0px;
}

.index-main section:nth-of-type(5) a{
  margin-top: 10%;
}

.index-main section:nth-of-type(5) p{
  padding-right: 5%;
  margin-bottom: 8%;
}

.index-main section:nth-of-type(5) img{
  max-width: 100%;
  width: 440px;
  height: auto;
  margin-left: 0;
}

/* PLATTEGROND */
/* algemeen */
.index-main section:nth-of-type(6){
  position: relative;
  text-align: center;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),
    url(https://i0.wp.com/eftelingsestraat.nl/wp-content/uploads/2018/04/efteling-plattegrond-header.jpg?fit=1025%2C587&ssl=1);
  background-size: cover;
  height: 70vh;
  margin-bottom: 20%;
  z-index: -1;
}

/* h2 */
.index-main section:nth-of-type(6) h2{
  padding: 20% 0 20% 0;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.5em;
  text-align: center;
  font-family: verner;
  font-size: 1.9em;
  color: var(--wit);
}

/* -------------------------------------------------------------------------------- */
/* ATTRACTIES.HTML */

.attracties-main p{
  font-family: ErnestineWebW03-Bold,sans-serif;
}

.attracties-main section:nth-of-type(1){
  text-align: center;
  max-width: 95%;
  padding-top: 20%;
  padding-left: 5%;
  z-index: -2;
}

.attracties-main section:nth-of-type(1) h2{
  color: var(--donkerrood);
  font-size: 1.2em;
}

.attracties-main section:nth-of-type(1) p{
  font-size: .9em;
  font-weight: lighter;

}

/* Afbeeldingen attracties */
.attracties-main section:nth-of-type(2){
  background: url(https://www.efteling.com/nl/-/media/images/nieuw-park/park/1024x576-fata-morgana-bootrit-2.jpg);
}

.attracties-main section:nth-of-type(3){
  background: url(https://www.efteling.com/nl/-/media/images/blog/nieuws/20190513-fabula/1024x576-fabula-teaser.png);
}

.attracties-main section:nth-of-type(4){
  background: url(https://diedetap.nl/wp-content/uploads/sites/4/2019/08/1024x576-symbolica-exterieur-efteling.jpg);
}

.attracties-main section:nth-of-type(5){
  background: url(https://pretparkvergelijker.nl/wp-content/uploads/2017/10/Efteling-Joris-en-de-Draak-Pretpark-Vergelijker.nl_-1200x1608.jpg);
}

.attracties-main section:nth-of-type(6){
  background: url(https://pretparkvergelijker.nl/wp-content/uploads/2017/10/Efteling-Baron-1898-Pretpark-Vergelijker.nl_.jpg);
}

.attracties-main div section:nth-of-type(1){
  background: url(https://www.efteling.com/nl/-/media/images/nieuw-park/park/attractions/droomvlucht/1024x576-droomvlucht-entree.jpg);
}

.attracties-main div section:nth-of-type(2){
  background: url(https://images1.persgroep.net/rcs/OdQA5b7me-8P8V_M9FfIgfwqPM8/diocontent/106877168/_fitwidth/694/?appId=21791a8992982cd8da851550a453bd7f&quality=0.8);
}

.attracties-main div section:nth-of-type(3){
  background: url(https://www.efteling.com/nl/-/media/images/nieuw-park/park/attractions/vliegende-hollander/1024x576-vliegende-hollander-water-overzicht.jpg);
}

.attracties-main div section:nth-of-type(4){
  background: url(https://www.efteling.com/en/-/media/images/nieuw-park/park/attractions/pirana/1024x576-pirana-waterbeelden.jpg);
}

.attracties-main div section:nth-of-type(5){
  background: url(https://pretparkvergelijker.nl/wp-content/uploads/2017/10/Efteling-Python-Pretpark-Vergelijker.nl_.jpg);
}

.attracties-main button{
  margin-left: 27%;
  margin-top: 2%;
  transition: transform .2s;
}

/* hover effect button */
.attracties-main button:hover, header section a:hover{
  transform: scale(1.05);
}

.attracties-main div{
  padding-top: 10%;
  display: none;
}

.attracties-main section:nth-of-type(2), .attracties-main section:nth-of-type(3), .attracties-main section:nth-of-type(4), .attracties-main section:nth-of-type(5),
.attracties-main section:nth-of-type(6), .attracties-main div section:nth-of-type(1), .attracties-main div section:nth-of-type(2), .attracties-main div section:nth-of-type(3), .attracties-main div section:nth-of-type(4),
.attracties-main div section:nth-of-type(5){
  position: relative;
  background-size: cover;
  height: 65vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 6px;
  color: var(--wit);
  z-index: -1;
  transition: transform .2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* hover effect attracties */
.attracties-main section:nth-of-type(2):hover, .attracties-main section:nth-of-type(3):hover, .attracties-main section:nth-of-type(4):hover, .attracties-main section:nth-of-type(5):hover,
.attracties-main section:nth-of-type(6):hover, .attracties-main div section:nth-of-type(1):hover, .attracties-main div section:nth-of-type(2):hover, .attracties-main div section:nth-of-type(3):hover, .attracties-main div section:nth-of-type(4):hover,
.attracties-main div section:nth-of-type(5):hover{
  transform: scale(1.05);
}


.attracties-main section:nth-of-type(2) p, .attracties-main section:nth-of-type(3) p,.attracties-main section:nth-of-type(4) p, .attracties-main section:nth-of-type(5) p,
.attracties-main section:nth-of-type(6) p, .attracties-main div section:nth-of-type(1) p, .attracties-main div section:nth-of-type(2) p, .attracties-main div section:nth-of-type(3) p, .attracties-main div section:nth-of-type(4) p,
.attracties-main div section:nth-of-type(5) p{
  color: var(--wit);
  text-transform: uppercase;
  text-align: center;
  padding-top: 95%;
  text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
}

.attracties-main section:nth-of-type(2) h2, .attracties-main section:nth-of-type(3) h2, .attracties-main section:nth-of-type(4) h2, .attracties-main section:nth-of-type(5) h2,
.attracties-main section:nth-of-type(6) h2, .attracties-main div section:nth-of-type(1) h2, .attracties-main div section:nth-of-type(2) h2, .attracties-main div section:nth-of-type(3) h2, .attracties-main div section:nth-of-type(4) h2,
.attracties-main div section:nth-of-type(5) h2{
  font-size: 2em;
  text-align: center;
  margin-top: -15%;
  text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
  font-family: verner;
  font-size: 1.8em;
  color: white;
}

/*footer*/
footer{
  background-color: white;
  padding-top: 10%;
  margin-top: 7%;
  border-top: 1px solid var(--accentkleurwit);
}

footer section:nth-of-type(1){
  color: var(--lichtgrijs);
  padding-left: 10%;
  padding-bottom: 3%;
  margin-top: -7%;
  border-bottom: 1px solid var(--accentkleurwit);
  line-height: 20px;
}

footer section:nth-of-type(1) h2{
  font-size: 14px;
}

footer article ul li svg{
  height: 12px;
  width: auto;
  margin-top: 5%;
  border-radius: 3px;
  padding: 0px 15px;
  float: right;
}

ul{
  padding-inline-start:0px; /*overwrite automatische padding ul*/
}

#het_park_menu_footer, #over_efteling_menu, #meer_efteling_menu_footer, #nieuwsbrief_menu{
  background-color: #fafaf7;
  border-bottom: 0px;
  padding-left: 5%;
}

#het_park_menu_footer li, #over_efteling_menu li, #meer_efteling_menu_footer li, #nieuwsbrief_menu li{
  border: 0;
}


article:nth-of-type(2){
  display: flex;
  margin-left: 5%;
  margin-bottom: 2%;
}

article:nth-of-type(2) p{
  font-size: 10px;
  flex-direction: row;
}

/*reuzenrad animatie*/
.attracties-main section svg:nth-of-type(1){
  width: 35px;
  height: auto;
  animation-name: spin; /*relatie keyframe*/
  animation-duration: 5000ms; /*draaisnelheid*/
  animation-iteration-count: infinite; /*oneindig rondraaien*/
  animation-timing-function: linear; /*lineare beweging van animatie*/
  fill: var(--donkerrood);
}

/* stoppen van animatie */
.attracties-main section svg:nth-of-type(1).hidden{
  animation-duration: 0ms; /*draaisnelheid*/
}

.attracties-main section svg:nth-of-type(2){
  width: 35px;
  height: auto;
  margin-left: -11.6%;
  margin-bottom: -2%;
  fill:none;
  stroke:#B71F37;
  stroke-width:27;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

@keyframes spin{
  0% { /*begin animatie*/
        transform: rotate(0deg);
    }
  100% { /*einde animatie*/
      transform: rotate(360deg);
  }
}

/* scroll-to-top button */
.scroll-to-top{
  position: absolute;
  z-index: 20;
}

.scroll-to-top button{
  position: fixed;
  bottom: 2%;
  right: 5%;
  width: 10%;
  height: auto;
  font-family: ErnestineWebW03-Bold,sans-serif;
  color: var(--wit);
  padding: 8px 25px 8px 14px;;
  border-radius: 100%;
  font-size: 16px;
  line-height: 1.5;
  max-width: 70%;
  margin-top: -40px;
  background-color: var(--donkerrood);
  border: 1px solid var(--donkerrood);
  transition: 4s;
}

/* overige css  */
button, a{
  font-family: ErnestineWebW03-Bold,sans-serif;
}

.alle-attracties a,.index-main section:nth-of-type(5) a, .index-main section:nth-of-type(6) a, .attracties-main button, nav:nth-of-type(2) ul:nth-of-type(1) li a span, #b_attracties a{
  font-family:ErnestineWebW03-Bold,sans-serif;
}


#active, #het_park_btn span{
  color: var(--donkerrood);
}

#visited, #visited1{
  color: var(--lichtgrijs);
}

#het_park_menu_footer, #over_efteling_menu, #meer_efteling_menu_footer, #nieuwsbrief_menu,
#het_park_menu, #all_seizoen_menu, #meer_efteling_menu {
  display: none;
}

